extends layout
block content
  div(ng-app="jsnt", ng-controller="MainController", class="container")
    div(class="page-header")
      h1 Jsonnet
      p(class="lead") The poetic JSON data editor with a tragic tagline
    div(class="well")
      form(class="data-source form-horizontal")
        div(class="row")
          label(class="col-sm-2 control-label") Select source type
          div(class="col-sm-10")
            div(class="btn-group", data-toggle="buttons")
              label(class="btn btn-default")
                input(type="radio", ng-model="dataSource.type", value="json", name="dataSource", id="dataSourceJSON")
                |Raw JSON
              label(class="btn btn-default")
                input(type="radio", ng-model="dataSource.type", value="rest", name="dataSource", id="dataSourceRest")
                |REST
              label(class="btn btn-default")
                input(type="radio", ng-model="dataSource.type", value="sample", name="dataSource", id="dataSourceSample")
                |Sample

        div(class=" top-margin",ng-show="dataSource.type=='json'")
          div(class="form-group")
            label(for="jsonSrc", class="control-label col-sm-2") JSON:
            div(class="col-sm-10")
              textarea(class="form-control", ng-model="dataSource.jsonSrc", id="jsonSrc", rows="5")
            div(class="col-sm-offset-2 col-sm-10")
              button(class="btn btn-primary top-margin", ng-click="callLoad('loadJson')") Load
        div(class=" top-margin", ng-show="dataSource.type=='rest'")
          div(class="form-group")
            label(for="restSrc", class="control-label col-sm-2") URL:
            div(class="col-sm-10")
              input(type="text", class="form-control", ng-model="dataSource.src", id="restSrc")
            div(class="col-sm-offset-2 col-sm-10")
              button(class="btn btn-primary top-margin", ng-click="callLoad('loadRest')") Load
        div(class=" top-margin", ng-show="dataSource.type=='sample'")
          div(class="form-group")
            label(for="sampleSrc", class="control-label col-sm-2") Select sample data:
            div(class="col-sm-10")
              select(ng-model="dataSource.src", id="sampleSrc", class="form-control", name="sampleSrc")
                option(value="sample/sample1.json", selected) Sample 1
            div(class="col-sm-offset-2 col-sm-10")
              button(class="btn btn-primary top-margin", ng-click="callLoad('loadRest')") Load
      hr
      div(id="formTop", class="path-info", ng-show="dataRoot")
        p Current path:
          span(class="current-path left-margin") {{prettyPath(viewPath)}}
        div(class="btn-group")
          button(type="button", class="btn btn-default", ng-click="goHome()") Top
          button(type="button", class="btn btn-default", ng-click="stepBack()") Back
    // No data loaded
    div(class="row", ng-show="errors.loadError.jsonLoadError")
      div(class="col-xs-12")
        p(class="alert alert-danger") Problem loading JSON: {{errors.loadError.jsonLoadError}}
    div(class="row", ng-show="errors.loadError.restLoadError")
      div(class="col-xs-12")
        p(class="alert alert-danger") Problem loading JSON from rest URL: {{errors.loadError.restLoadError}}
    div(class="row", ng-show="!dataRoot")
      div(class="col-xs-12")
        p(class="alert alert-info") No data loaded. Use the data source panel at the top of the page to load some valid JSON.
    //The holder of the vertical split
    div(class="row", ng-show="dataRoot")
      //The form column (left)
      div(class="col-md-6 col-xs-12")
        form(id="mainForm", class="form-horizontal")
          div(ng-repeat="(key, value) in viewRoot track by $id(key)", ng-if="getPropertyClassification(viewRoot).indexOf('array') == -1")
            // PRIMITIVE FIELD
            primitive-field(ng-if="getPropertyClassification(value) == 'primitive'",
              path="{{constructPath(viewPath, key)}}",
              field-label="{{key}}", bound-obj="viewRoot[key]")

            //PRIMITIVE OBJECT
            primitive-object(ng-if="getPropertyClassification(value).indexOf('objectPrimitive') > -1",
              path="{{constructPath(viewPath, key)}}",
              field-label="{{key}}", bound-obj="viewRoot[key]")

            // ARRAY
            array(ng-if="getPropertyClassification(value).indexOf('array') > -1",
              path="{{constructPath(viewPath, key)}}",
              field-label="{{key}}",
              bound-obj="viewRoot[key]",
              path-func="updatePath(newPath)")

            // COMPLEX OBJECT
            complex-object(ng-if="getPropertyClassification(value) == 'objectComplex'",
              path="{{constructPath(viewPath, key)}}",
              field-label="{{key}}",
              path-func="updatePath(newPath)")

          // ARRAY AT ROOT
          array(ng-if="getPropertyClassification(viewRoot).indexOf('array') > -1",
            path="{{viewPath}}",
            field-label="{{getNameFromPath()}}",
            bound-obj="viewRoot",
            path-func="updatePath(newPath)")

      //The tree column (right)
      div(class="col-md-6 col-xs-12")
        div(class="well")
          span
          strong New JSON data:
          button(class="btn btn-sm btn-primary left-margin pull-right", ng-click="dataSelectAll()") Select All
          //pre {{prettyDataRoot()}}
          textarea(class="form-control top-margin", rows="50", ng-bind="prettyDataRoot()", id="jsonData")

          //jsnt-graph(view-root="viewRoot", data-root="dataRoot")
    div.footer
      p &copy; Luke Purton 2014
