doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Easy to use JSON data editor")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title= title
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css")
    //link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/bs-style.css")
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    //script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
    script(src="javascripts/vendor/button.js")
    script(src="javascripts/vendor/angular.js")
    script(src="javascripts/vendor/d3.js")
    script(src="javascripts/jsnt.js")
  body
    block content