div
  div(class="jsnt-legend center-block") {{fieldLabel}}
  div(class="list-group")
    div(class="list-group-item", ng-repeat="(key, value) in boundObj track by $id(key)")
      primitive-array-item(ng-if="getPropertyClassification(value) == 'primitive'",
        path="{{constructPath(path, key)}}",
        field-label="{{key}}", bound-obj="boundObj")
      primitive-object-array-item(ng-if="getPropertyClassification(value) == 'objectPrimitiveNoArray'",
        path="{{constructPath(path, key)}}",
        field-label="{{key}}", bound-obj="boundObj")
      complex-object-array-item(ng-if="getPropertyClassification(value) != 'objectPrimitiveNoArray' && getPropertyClassification(value) != 'primitive'",
        path="{{constructPath(path, key)}}",
        field-label="{{key}}", bound-obj="boundObj",
        path-func="pathFunc({newPath:constructPath(path,key)})")
    div(class="list-group-item")
      div(class="form-group")
        div(class="col-sm-8")
        div(class="col-sm-4")
          button(class="btn btn-primary form-control", ng-click="addItemToArray()") Add item &nbsp;
            i(class="glyphicon-plus")
