div(class="form-group")
  label(class="col-sm-4 control-label") {{fieldLabel}}
  div(class="col-sm-8")
    button(class="btn btn-primary form-control", ng-click="pathFunc({newPath:path})") Edit Fields
