div(class="form-group")
  label(class="col-sm-4 control-label") {{label}}
  div(class="col-sm-8")
    div(class="input-group")
      button(class="btn btn-primary form-control", ng-click="pathFunc({newPath:path})") Edit Fields
      span(class="input-group-addon")
        a(class="glyphicon glyphicon-remove remove-icon", ng-click="removeFromArray(boundObj, fieldLabel)")
