div
  div(class="form-group")
    label(class="col-sm-4 control-label") {{label}}
    div(class="col-sm-8")
      div(class="input-group")
        button(class="btn btn-primary form-control", ng-click="toggleVisible()") Toggle Fields
        span(class="input-group-addon")
          a(class="glyphicon glyphicon-remove remove-icon", ng-click="removeFromArray(boundObj, fieldLabel)")
  div(ng-show="isVisible")
    div(ng-repeat="(key, value) in boundObj[fieldLabel] track by $id(key)")
      primitive-field(ng-if="getPropertyClassification(value) == 'primitive'",
      path="{{constructPath(path, key)}}",
      field-label="{{key}}", bound-obj="boundObj[fieldLabel][key]")
