div(class="form-group")
  div(class="col-sm-4")
  div(class="col-sm-8")
    div(class="input-group")
      input(type="text", ng-model="boundObj[fieldLabel]", id="{{path}}", class="form-control")
      span(class="input-group-addon")
        a(class="glyphicon glyphicon-remove remove-icon", ng-click="removeFromArray(boundObj, fieldLabel)")
