fieldset
  div(class="jsnt-legend center-block") {{fieldLabel}}
  div(ng-repeat="(key, value) in boundObj track by $id(key)")
    primitive-field(ng-if="getPropertyClassification(value) == 'primitive'",
    path="{{constructPath(path, key)}}",
    field-label="{{key}}", bound-obj="boundObj[key]")
