fieldset {
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  border: 1px solid #dfdfdf;
  background: rgba(66, 139, 202, 0.06);
  border-radius: 3px;
}

td, tr {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

table.array {
  /*border-bottom: 1px solid lightgray;*/
  margin-bottom: 0px;
}

fieldset.array legend {
  margin-bottom: 10px;
}

/* Strange bootstrap rule that I needed to override. I would like to know it's purpose in
   bootstrap though...*/
.input-group[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-6 .form-horizontal .form-group {
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 0px;
  margin-right: 0px;
}

.list-group .form-group {
  margin-bottom: 10px;
}

.list-group-item {
  padding: 10px 0px 0px 0px;
}

.remove-icon {
  color: coral;
}

.remove-icon:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.current-path {
  font-size: 14pt;
  font-weight: bold;
}

.jsnt-legend {
  font-size: 16pt;
  text-align: center;
  margin-bottom: 15px;
}

.top-margin {
  margin-top: 1em;
}

.left-margin {
  margin-left: 1em;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* SVG styles */
path.link {
  fill: none;
  stroke: #CCC;
  stroke-width: 3px;
}

