body {
  padding: 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

fieldset {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 1em;
  border-radius: 0.5em;
}

legend {
  margin-left: 2em !important;
}

.fieldset-wrapper {
  padding: 1em !important;
  border: 1px solid #e5e5e5 !important;
}

.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
}

.primitive-object-fieldset {
  /*border-bottom: 1px solid #e5e5e5 !important;*/
  /*margin-bottom: 1em !important;*/
  padding: 1em;
  border: 1px solid #e5e5e5;
}

.array-primitive-object-wrapper {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.toggle-button {
  width: 6em;
}

.primitive-object-fieldset legend {
  border: 0px;
}

.delete-icon {
  color: lightcoral;
  margin-left: 0.5em;
  cursor: pointer;
}

.delete-icon:hover {
  color: red;
}

/* jsonnet specific classes */

.jsnt-field-group {
  width: 401px;
  padding: 0em 10px 15px 0px;
  margin-left: 0px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.jsnt-legend {
  font-style: italic;
  margin-left: 10px;
}

.jsnt-field {
  margin-top: 10px;
  margin-left: 10px;
}

.jsnt-field-expanded {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0px;
}

.jsnt-field-label {
  width: 170px;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  margin-right: 10px;
}

.jsnt-input-wrapper {
  display: inline-block;
}

.jsnt-input {
  width: 170px;
  vertical-align: middle;
  padding: 5px 6px;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 0.9em;
  box-shadow: inset 0 1px 2px #ddd;
  border-radius: 6px;
  -webkit-transition: 0.3s linear border;
  -moz-transition: 0.3s linear border;
  -ms-transition: 0.3s linear border;
  -o-transition: 0.3s linear border;
  transition: 0.3s linear border;
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
}

.jsnt-input:focus {
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  border-color: #129FEA;
}

.jsnt-delete-icon {
  color: lightcoral;
  /*margin-left: 5px;*/
  cursor: pointer;
}

.jsnt-delete-icon:hover {
  color: red;
}

.jsnt-field-button-wrapper {
  margin-left: 180px;
  margin-top: 10px;
}

.jsnt-field-button {
  width: 182px;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
}

.jsnt-remove-button {
  background: transparent;
  border: none;
}

.jsnt-test {
  border: 1px solid teal;
}
