<div class="form-group">
    <label for="{{constructPath(constructPath(viewPath, key), innerKey)}}" class="col-sm-4 control-label">{{innerKey}}.</label>
    <div class="col-sm-8 input-group">
        <button id="{{constructPath(constructPath(viewPath, key), innerKey)}}" ng-click="toggle()" class="form-control btn btn-info">{{isVisible ? "Hide" : "Show"}}
            <i class="glyphicon {{isVisible ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'}}"></i>
        </button>
        <span class="input-group-addon">
            <a class="glyphicon glyphicon-remove remove-icon" ng-click="removeFromArray(value, innerKey)"></a>
        </span>
    </div>
</div>
<div ng-repeat="(apoKey, apoValue) in innerValue track by $id(apoKey)" ng-show="isVisible">
    <div ng-if="getPropertyClassification(apoValue) == 'primitive'" class="form-group">
        <label for="{{constructPath(constructPath(constructPath(viewPath, key), innerKey), apoKey)}}" class="col-sm-4 control-label"> {{apoKey}}</label>
        <div class="col-sm-8">
            <input id="{{constructPath(constructPath(constructPath(viewPath, key), innerKey), apoKey)}}" ng-model="viewRoot[key][innerKey][apoKey]" type="text" class="form-control">
        </div>
    </div>
</div>