<div class="form-group">
  <label for="{{path}}" class="col-sm-4 control-label">{{key}}.</label>
  <div class="col-sm-8 input-group">
    <button id="{{path}}" ng-click="toggle()" class="form-control btn btn-info">{{isVisible ? "Hide" : "Show"}}
      <i class="glyphicon {{isVisible ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'}}"></i>
    </button>
        <span class="input-group-addon">
            <a class="glyphicon glyphicon-remove remove-icon" ng-click="removeFromArray(parent, key)"></a>
        </span>
  </div>
</div>
<div ng-repeat="(apoKey, apoValue) in obj track by $id(apoKey)" ng-show="isVisible">
  <div ng-if="getPropertyClassification(apoValue) == 'primitive'" class="form-group">
    <label for="{{constructPath(path, apoKey)}}" class="col-sm-4 control-label"> {{apoKey}}</label>
    <div class="col-sm-8">
      <input id="{{constructPath(path, apoKey)}}" ng-model="obj[apoKey]" type="text" class="form-control">
    </div>
  </div>
</div>
